# -*- coding: utf-8 -*-
# SPDX-FileCopyrightText: 2025-2026 markus.groissboeck@gmx.at
# SPDX-License-Identifier: MIT

# Ignore All (xlsx) files
*.xlsx
*.xlsm

# pixi environments
.pixi/*
!.pixi/config.toml

# special files and directories
pypsa-ptx.py
_ignore/*
cache/*
.idea
run_*/*
gurobi.lic
